# Python
__pycache__/
*.py[cod]
*.egg-info/
venv/
.venv/
.env

# Node
node_modules/
dist/

# Uploads & processed files
backend/uploads/
backend/processed/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
